:root {
  --sidebar-width-desktop: 25rem;
  --sidebar-width-mobile: 25rem;

  --color-primary: rgba(245, 247, 245, 0.75);
  --color-accent: #0b8d06;
  --color-accent-2: #8fa9bc;
  --color-text: #333;
  --color-background: #fff;
  --color-content-bg: #f6f6f6;
  --color-border: #999;
  --color-hover-bg: #f0f0f0;
  --color-active-bg: #ddd;
  --color-active-bg-light: #eef9ee;
  --color-active-hover-bg: #d6efd5;
  --color-table-header: #e5e5e5;
  --text-shadow-color: rgba(16, 159, 11, 0.6);
  --topbar-gradient: linear-gradient(-90deg, var(--color-primary) 20%, var(--color-active-bg-light) 100%);
}

body.dark-theme {
  --color-primary: rgba(32, 32, 32, 0.75);
  --color-accent: #0dba08;
  --color-accent-2: #113858;
  --color-text: #d0d0d0;
  --color-background: #191919;
  --color-content-bg: #252525;
  --color-border: #666;
  --color-hover-bg: #282828;
  --color-active-bg: #404040;
  --color-active-bg-light: #303e30;
  --color-active-hover-bg: #30542c;
  --color-table-header: #333;
  --text-shadow-color: rgba(16, 159, 11, 0.8);
  --topbar-gradient: linear-gradient(-90deg, var(--color-primary) 0%, var(--color-active-bg) 100%);
}

@font-face {
  font-family: font-main;
  src: url(assets/IBM-Plex.ttf);
}

@font-face {
  font-family: font-mono;
  src: url(assets/IBM-Plex-Mono.ttf);
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
} 

*:focus-visible {
  outline: 1.5px solid var(--color-accent);
  outline-offset: 0.5px;
}

html {
  font-size: 62.5%;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: font-main;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.6rem;
  letter-spacing: 0.2px;
}

button {
  font-family: font-main;
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

a {
  color: var(--color-accent);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  /*text-shadow: 0 0 3px var(--text-shadow-color);*/
}

a[target="_blank"]::after {
  content: " [↗]";
  font-size: 70%;
  margin-left: 0.1rem;
  letter-spacing: -0.2rem;
  vertical-align: 0.45rem;
  text-decoration: none;
  display: inline-block;
  opacity: 1;
}

/* --- Top Bar --- */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: var(--topbar-gradient);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  gap: 1rem;
  backdrop-filter: blur(0.5rem);
}

#top-bar a {
  font-size: 1.6rem;
  padding: 0 4px;
  font-weight: 500;
  color: var(--color-text);
  text-decoration: none;
  user-select: none;
  position: relative;
  top: -1px;
}

#menu-toggle,
#settings-toggle {
  border: 1px solid var(--color-border);
  background-color: var(--color-primary);
  cursor: pointer;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  padding: 0.1rem 0.4rem;
}

#menu-toggle:focus-visible,
#settings-toggle:focus-visible {
  outline: 1.5px solid var(--color-accent);
  outline-offset: -2.5px;
}

.nav-arrow {
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  width: auto;
  height: auto;
  position: relative;
  top: -1px;
}

.nav-arrow:focus-visible {
  outline: 1.5px solid var(--color-accent);
  outline-offset: -6px;
}

.nav-arrow.disabled {
  opacity: 0.25;
  pointer-events: none;
  cursor: default;
}

/* --- Settings Menu --- */
.settings-menu {
  position: fixed;
  top: 5.5rem;
  right: 1.5rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  box-shadow: -4px 4px 10px 1px rgba(0,0,0,0.15);
  min-width: 12rem;
  display: none;
  z-index: 1001;
  color: var(--color-text);
}
.settings-menu.visible {
  display: block;
}
.settings-header {
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}
.settings-item {
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.4rem;
}

.settings-item.active {
  background-color: var(--color-active-bg-light);
  color: var(--color-accent);
}

/* ------------------------------ Sidebar ------------------------------ */
#sidebar {
  z-index: 999;
  position: fixed;
  top: 5.5rem;
  left: 1.5rem;
  width: calc(var(--sidebar-width-desktop) - 1.5rem);
  background-color: var(--color-background);
  height: auto;
  transition: transform 0.3s ease;
  outline: 1px solid var(--color-border);
  max-height: calc(100vh - 7rem);
  overflow-y: auto;
}

#sidebar.hidden {
  transform: translateX(calc(-1 * var(--sidebar-width-desktop) - 1px));
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar li > div.sidebar-row {
  display: flex;
  align-items: stretch;
}

#sidebar li > div.sidebar-row a {
  flex: 1;
  padding: 0.6rem 1rem;
  font-weight: 500;
}

#sidebar li > div.sidebar-row button {
  width: 3.15rem;
  padding: 0;
  border-left: 1px solid var(--color-border);
  position: relative;
}

#sidebar li > div.sidebar-row button::after {
  content: 'ߍ';
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 1.6rem;
  opacity: 0.7;
  transition: transform 0.2s;
  transform-origin: 50% 60%;
}

#sidebar li > div.sidebar-row button.open::after {
  transform: translate(-50%, -50%) rotate(180deg);
  opacity: 1;
  color: var(--color-accent);
}

#sidebar li > div.sidebar-row + ul {
  border-top: none;
}

#sidebar li a:focus-visible,
#sidebar li button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 1.5px var(--color-accent);
}

#sidebar li {
  border-bottom: 1px solid var(--color-border);
  overflow-wrap: anywhere;
}

#sidebar li.main-page > a {
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#sidebar li.separator {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.525rem 1rem;
  user-select: none;
  background-color: var(--color-table-header);
}

#sidebar li > ul li a {
  padding-left: 2.5rem;
}

#sidebar li > ul li:first-child {
  border-top: 1px solid var(--color-border);
}

#sidebar li > ul li:last-child {
  border-bottom: none;
}

#sidebar li a {
  text-align: left;
  display: block;
  text-decoration: none;
  color: var(--color-text);
  padding: 0.5rem 1rem;
  user-select: none;
  font-size: 1.4rem;
}

#sidebar li a.active {
  background-color: var(--color-active-bg-light);
  color: var(--color-accent);
}

/* ------------------------------ Content ------------------------------ */
#main-content {
  margin: 4rem 0 1.5rem calc(var(--sidebar-width-desktop));
  transition: margin-left 0.3s, opacity 0.3s ease;
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 100vw;
  padding: 0 0;
}

#sidebar.hidden + #main-content {
  margin-left: 0;
  justify-content: center;
}

.content-section {
  padding: 1.5rem;
  padding-bottom: 6rem;
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
  line-height: 1.4;
  counter-reset: section-counter;
  container-type: inline-size;
  container-name: maincontent;
}

.content-section h1 {
  margin-bottom: 1rem;
  margin-top: 0rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.content-section h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  clear: right;
  counter-increment: section-counter;
}

.content-section h3 {
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.8rem;
  font-weight: 500;
  clear: right;
}

.content-section p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.content-section h2::before {
  content: counter(section-counter) " ";
  margin-right: 0;
  font-size: 75%;
}

/* ------------------------------ Tables and Data ------------------------------ */
table {
  margin: 1.5rem auto;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem;
  display: table;
  width: calc(100% - 4rem);
}

th, td {
  border: 1px solid var(--color-border);
  padding: 0.6rem 0.8rem;
  text-align: left;
}

th {
  background-color: var(--color-table-header);
  font-weight: 500;
}

table.sticky-header {
  position: relative;
  display: table;
}

table.sticky-header th {
  position: sticky;
  top: 4rem;
  z-index: 2;
  overflow-y: auto;
}

.alt-rows tr:nth-child(odd) td,
.alt-rows:not(:has(th)) tr:nth-child(even) td {
  background-color: var(--color-content-bg);
}

.alt-rows:not(:has(th)) tr:nth-child(odd) td {
  background-color: var(--color-background);
}

table.wide-table {
  display: block;
  overflow-x: auto;
  width: max-content;
  transform: rotateX(180deg);
  overflow-x: auto;
  padding-bottom: 1rem;
}

table.wide-table * {
  transform: rotateX(180deg);
}

table.wide-table caption {
  max-width: 100cqw;
  width: max-content;
  position: sticky;
  box-sizing: border-box;
  padding-top: 0.8rem;
  left: 0;
  caption-side: top;
}

/* ------------------------------ Figures ------------------------------ */
caption, figcaption {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  caption-side: bottom;
  text-align: left;
  color: var(--color-text);
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

figure {
  margin: 1.5rem auto 2rem auto;
  max-width: 80rem;
  display: table;
}

figure img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

img {
  border: 1px solid var(--color-border);
}

/* Right-aligned figures */
figure.align-right {
  max-width: min(35rem, 45%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
  margin: 0 0 1rem 1rem;
}

figure.align-right img {
  width: 100%;
  height: auto;
}

table.align-right {
  float: right;
  display: block;
  width: 100%;
  max-width: min(35rem, 45%);
  margin: 0 0 1rem 1rem;
}

body.dark-theme img {
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

body.dark-theme img:hover {
  opacity: 1;
}

/* ------------------------------ Stuff ------------------------------ */
/* Boxed area */
fieldset {
  display: block;
  border: 1.5px solid var(--color-border);
  padding: 0rem 1.5rem;
  margin: 0 2rem 2rem 2rem;
}

legend {
  font-size: 2rem;
  font-weight: 500;
  padding: 0rem 0.4rem;
  margin: 1rem 0rem 0.5rem 0rem;
}

fieldset > p {
  padding: 0 0 1rem 0;
  margin-bottom: 0 !important;
}

fieldset > h3 {
  padding: 1rem 0 0.5rem 0;
  margin: 0 !important;
}

/* Code */
textarea {
  font-family: font-mono, monospace;
  color: var(--color-text);
  background-color: var(--color-content-bg);
  border: 1px solid var(--color-border);
  padding: 1.5rem;
  scroll-padding: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: auto;
  width: 100%;
  margin: 0;
  resize: none;
  cursor: text;
  caret-color: transparent;
}

textarea:focus-visible {
  outline: 1.5px solid var(--color-accent);
  outline-offset: -2.5px;
}

/* Accordion */
details {
  display: block;
  margin: 1.5rem 2rem;
  border: 1px solid var(--color-border);
}

summary {
  padding: 0.4rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--color-content-bg);
  cursor: pointer;
  list-style-position: outside;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

summary:hover {
  background-color: var(--color-active-bg);
}

[open] summary {
  border-bottom: 1px solid var(--color-border);
}

summary::after {
  content: "ߍ";
  margin-left: 1rem;
  margin-top: -0.65rem;
  transform: rotate(90deg);
  font-size: 1.75rem;
  opacity: 0.7;
  transition: transform 0.2s;
  transform-origin: 45% 60%;
}

[open] summary::after {
  transform: rotate(180deg);
  color: var(--color-accent);
  opacity: 1;
}

summary:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 1.5px var(--color-accent);
}

details > p {
  padding: 0.5rem 1rem;
  margin-bottom: 0 !important;
}

/* ------------------------------ Responsive Layout ------------------------------ */
@media (max-width:800px) {
  #sidebar { 
    width: var(--sidebar-width-mobile);
    transform: translateX(calc(-100% - 1px));
    transition: transform 0.3s;
    height: calc(100vh - 4rem);
    top: 4rem;
    left: 0;
    max-height: calc(100vh - 4rem);
    border: none;
  }

  #sidebar li > div.sidebar-row a,
  #sidebar li.main-page > a,
  #sidebar li a {
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
  }

  #sidebar li > div.sidebar-row button {
    width: 3.7rem;
  }

  #sidebar li.separator {
    padding: 0.6rem 1rem;
  }

  #sidebar.visible {
    transform: translateX(0);
  }
  
  #main-content {
    margin: 4rem 0 0 0;
  }
  
  #sidebar.visible ~ #main-content {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .content-section {
    padding: 2rem;
    max-width: 100%;
  }
  figure {
    width: 100%;
    max-width: 100%;
    margin: 1.5rem auto 2rem auto;
  }
  
  figure img {
    width: 100%;
    max-width: 100%;
  }
  
  figure.align-right {
    float: none;
    margin: 1.5rem auto;
    width: 100%;
    max-width: 100%;
  }
  
  figure.align-right img {
    width: 100%;
    height: auto;
  }
  
  figcaption,
  figure.align-right figcaption {
    text-align: left;
    width: 100%;
    margin-top: 0.8rem;
  }

  table.wide-table caption {
    max-width: calc(100vw - 4rem);
    position: sticky;
    left: 0;
  }

  table {
    max-width: 100%;
    margin: 1.5rem auto;
    display: table;
    width: 100%;
  }

  table.sticky-header {
    display: table;
    width: 100%;
  }
  
  table.align-right {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 1.5rem auto;
    display: table;
  }

  fieldset {
    margin: 0 0 2rem 0;
  }

  details {
    margin: 1.5rem 0;
  }
}

@media (min-width: 801px) {
  #sidebar li:last-child {
    border-bottom: none;
  }

  body:has(#sidebar:not(.hidden)) #menu-toggle {
    color: var(--color-accent);
    background-color: var(--color-active-bg-light);
  }

  body:has(#sidebar:not(.hidden)) #menu-toggle:hover {
    background-color: var(--color-active-hover-bg);
  }
}

@media (hover: hover) {
  #top-bar a:hover,
  .nav-arrow:hover {
    color: var(--color-accent);
    text-shadow: 0 0 5px var(--text-shadow-color);
  }

  #menu-toggle:hover,
  #settings-toggle:hover {
    background-color: var(--color-active-bg);
  }

  .settings-item:hover {
    background-color: var(--color-hover-bg);
  }
  .settings-item.active:hover {
    background-color: var(--color-active-hover-bg);
  }
  #sidebar li a:hover,
  #sidebar li button:hover {
    background-color: var(--color-hover-bg);
  }
  #sidebar li a.active:hover {
    background-color: var(--color-active-hover-bg);
  }
  .settings-item:active {
    background-color: var(--color-active-bg);
  }
  #sidebar li a:active,
  #sidebar li button:active {
    background-color: var(--color-active-bg);
  }

  #sidebar li > div.sidebar-row button:hover {
    background-color: var(--color-hover-bg);
  }
  
  #sidebar li > div.sidebar-row button:hover::after {
    opacity: 1;
  }
}

@media (hover: none) {
  #top-bar a:active,
  .nav-arrow:hover {
    color: var(--color-accent);
    text-shadow: 0 0 5px var(--text-shadow-color);
  }

  #menu-toggle:active,
  #settings-toggle:active {
    background-color: var(--color-active-bg);
  }

  .settings-item:active {
    background-color: var(--color-hover-bg);
  }
  .settings-item.active:active {
    background-color: var(--color-active-hover-bg);
  }
  #sidebar li a:active,
  #sidebar li button:active {
    background-color: var(--color-hover-bg);
  }
  #sidebar li a.active:active {
    background-color: var(--color-active-hover-bg);
  }
  .accordion-header:active {
    background-color: var(--color-active-hover-bg);
  }
}

body:has(#sidebar.visible) #menu-toggle,
#top-bar-container:has(#settings-menu.visible) #settings-toggle {
  color: var(--color-accent);
  background-color: var(--color-active-bg-light);
}

body:has(#sidebar.visible) #menu-toggle:hover,
#top-bar-container:has(#settings-menu.visible) #settings-toggle:hover {
  background-color: var(--color-active-hover-bg);
}

/* timestamp */
.modification-date {
  display: block;
  text-align: left;
  font-family: font-mono, monospace;
  font-size: 1.1rem;
  color: var(--color-text);
  margin-top: -1rem;
  margin-bottom: 0.5rem;
}

.modification-date time {
  font-weight: bold;
}